# Build files
__pycache__/
build_system/build/
python/**/build/
python/**/dist/
python/**/*egg-info/
python/**/cython/*.so*
python/**/cython/*.dylib
python/**/cython/*.dll
python/**/cython/*.lib
python/**/cython/*.pyd
python/**/tests/res/tmp/
cpp/build/

# Documentation files
doc/_build/
doc/developer_guide/api/python/index.md
doc/developer_guide/api/python/**/
doc/developer_guide/api/cpp/index.md
doc/developer_guide/api/cpp/**/

# Virtual Environment
venv/

# IntelliJ
.idea/

# Virtual Studio Code
.vscode/

# Experiments
/data/
/results/
/models/
/parameters/
