# Cache files
**/__pycache__/
.ccache/
.git-changes

# Virtual Environment
.venv/

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# Folders and files commonly used for experiments
/data/
/experiments/
/config/
/sbatch_*.sh
