cython==0.29.35
meson==1.1.1
ninja==1.11.1
wheel==0.40.0
build==0.10.0
yapf==0.33.0
isort==5.12.0
clang-format==16.0.4
numpy==1.24.3
scipy==1.10.1
scikit-learn==1.2.2
liac-arff==2.5.0
tabulate==0.9.0
