build >= 1.1, < 1.2
clang-format >= 17.0, < 17.1
cython >= 3.0, < 3.1
isort >= 5.13, < 5.14
mdformat >= 0.7, < 0.8
mdformat-myst >= 0.1, < 0.2
meson >= 1.4, < 1.5
ninja >= 1.11, < 1.12
pylint >= 3.0, < 3.1
scons >= 4.6, < 4.7
unittest-xml-reporting >= 3.2, < 3.3
wheel >= 0.42, < 0.43
yapf >= 0.40, < 0.41
