---
name: Assign pull request labels
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - feature
      - bugfix
jobs:
  assign_labels:
    name: Assign pull request labels
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Assign labels to pull request
        uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labels.yml
          sync-labels: true
