---
name: Merge bugfix into feature branch
on:
  push:
    branches:
      - bugfix
jobs:
  merge_bugfix:
    if: "!contains(github.event.head_commit.message, '[Bot]')"
    name: Perform upstream merge
    uses: ./.github/workflows/template_merge.yml
    with:
      source_branch: bugfix
      target_branch: feature
    secrets: inherit
