---
name: Merge bugfix into feature branch
on:
  push:
    branches:
      - bugfix
jobs:
  merge_bugfix:
    name: Merge bugfix into feature branch
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, '[Bot]')"
    steps:
      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.TOKEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_APP_SECRET }}
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: feature
          token: ${{ steps.app-token.outputs.token }}
      - name: Setup git
        uses: fregante/setup-git-user@v2
      - name: Auto-resolve merge conflicts
        run: |
          git branch tmp feature
          git fetch origin bugfix:bugfix
          git reset --hard bugfix
          git checkout tmp -- .readthedocs/
          git checkout tmp -- build_system/res/versioning/version
      - name: Submit pull request
        id: pull-request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: '[Bot] Merge bugfix into feature branch.'
          branch: merge-bugfix
          title: Merge bugfix into feature branch
          labels: bot
          body: Merge branch "bugfix" into "feature".
      - name: Enable auto-merge
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: gh pr merge --merge --auto "${{ steps.pull-request.outputs.pull-request-number }}"
