---
name: Merge feature into main branch
on:
  push:
    branches:
      - feature
jobs:
  merge_feature:
    name: Merge feature into main branch
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, '[Bot]')"
    steps:
      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.TOKEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_APP_SECRET }}
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ steps.app-token.outputs.token }}
      - name: Setup git
        uses: fregante/setup-git-user@v2
      - name: Auto-resolve merge conflicts
        run: |
          git branch tmp main
          git fetch origin feature:feature
          git reset --hard feature
          git checkout tmp -- .readthedocs/
          git checkout tmp -- build_system/res/versioning/version
      - name: Submit pull request
        id: pull-request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: '[Bot] Merge feature into main branch.'
          branch: merge-feature
          title: Merge feature into main branch
          labels: bot
          body: Merge branch "feature" into "main".
      - name: Enable auto-merge
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: gh pr merge --merge --auto "${{ steps.pull-request.outputs.pull-request-number }}"
