---
name: Merge feature into main branch
on:
  push:
    branches:
      - feature
jobs:
  merge_feature:
    if: "!contains(github.event.head_commit.message, '[Bot]')"
    name: Perform upstream merge
    uses: ./.github/workflows/template_merge.yml
    with:
      source_branch: feature
      target_branch: main
    secrets: inherit
