---
name: Publish release packages
on:
  release:
    types:
      - published
jobs:
  publish_packages:
    name: Publish wheel packages
    uses: ./.github/workflows/template_publish.yml
    with:
      release: true
      linux: true
      macos: true
      windows: true
    secrets: inherit
  upload_to_pypi:
    needs: publish_packages
    name: Upload wheels to PyPI
    runs-on: ubuntu-slim
    permissions:
      id-token: write
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v8
        with:
          pattern: wheels-*
          path: wheelhouse
          merge-multiple: true
      - name: Upload wheels to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          packages-dir: wheelhouse
          skip-existing: true
