---
name: Test build
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      python_version:
        required: true
        type: string
      linux:
        required: false
        type: boolean
      macos:
        required: false
        type: boolean
      windows:
        required: false
        type: boolean
      compile:
        required: false
        type: boolean
      run_cpp_tests:
        required: false
        type: boolean
      run_python_tests:
        required: false
        type: boolean
      multi_threading_support:
        required: false
        type: string
        default: enabled
      gpu_support:
        required: false
        type: string
        default: enabled
jobs:
  linux_build:
    if: ${{ inputs.linux == true || inputs.compile == true || inputs.run_cpp_tests == true || inputs.run_python_tests == true }}
    name: Test Linux build (${{ inputs.subproject }})
    uses: ./.github/workflows/template_build_linux.yml
    with:
      subproject: ${{ inputs.subproject }}
      compile: ${{ inputs.linux == true || inputs.compile == true }}
      run_cpp_tests: ${{ inputs.run_cpp_tests == true }}
      run_python_tests: ${{ inputs.run_python_tests == true }}
      python_version: ${{ inputs.python_version }}
      multi_threading_support: ${{ inputs.multi_threading_support }}
      gpu_support: ${{ inputs.gpu_support }}
    secrets: inherit
  python_tests:
    if: ${{ inputs.run_python_tests == true }}
    needs: linux_build
    name: Test Python packages (${{ inputs.subproject }})
    uses: ./.github/workflows/template_test_python.yml
    with:
      subproject: ${{ inputs.subproject }}
      python_version: ${{ inputs.python_version }}
    secrets: inherit
  macos_build:
    if: ${{ inputs.macos == true || inputs.compile == true }}
    name: Test MacOS build (${{ inputs.subproject }})
    uses: ./.github/workflows/template_build_macos.yml
    with:
      subproject: ${{ inputs.subproject }}
      python_version: ${{ inputs.python_version }}
      multi_threading_support: ${{ inputs.multi_threading_support }}
      gpu_support: ${{ inputs.gpu_support }}
  windows_build:
    if: ${{ inputs.windows == true || inputs.compile == true }}
    name: Test windows build (${{ inputs.subproject }})
    uses: ./.github/workflows/template_build_windows.yml
    with:
      subproject: ${{ inputs.subproject }}
      python_version: ${{ inputs.python_version }}
      multi_threading_support: ${{ inputs.multi_threading_support }}
      gpu_support: ${{ inputs.gpu_support }}
