---
name: Update changelog
on:
  workflow_call:
    inputs:
      release_branch:
        required: true
        type: string
jobs:
  update_changelog:
    name: Update changelog
    runs-on: ubuntu-slim
    steps:
      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.token_app_id }}
          private-key: ${{ secrets.token_app_secret }}
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ inputs.release_branch }}
      - name: Setup git
        uses: fregante/setup-git-user@v2
      - name: Update changelog
        run: |-
          ./build update_changelog_${{ inputs.release_branch }}
          git add build_system/res/changelog/changelog-*.md
          git add CHANGELOG.md
          (git commit -m "Update changelog." && git push) || true
