---
name: Test Python packages
on:
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      overwrite_output_files:
        required: false
        type: boolean
      subproject:
        required: true
        type: string
jobs:
  test_python:
    name: Test Python packages
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        block:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
    steps:
      - name: Generate token
        if: ${{ inputs.overwrite_output_files == true }}
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.token_app_id }}
          private-key: ${{ secrets.token_app_secret }}
      - name: Checkout
        if: ${{ inputs.overwrite_output_files == true }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.head_ref }}
      - name: Checkout
        if: ${{ inputs.overwrite_output_files != true }}
        uses: actions/checkout@v6
      - name: Setup git
        if: ${{ inputs.overwrite_output_files == true }}
        uses: fregante/setup-git-user@v2
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Create virtual environment
        run: ./build venv
      - name: Download Python packages
        uses: actions/download-artifact@v6
        with:
          name: python-packages-${{ inputs.subproject }}
          path: python/subprojects/
      - name: Install Python packages
        run: . .venv/bin/activate && python -m pip install python/subprojects/**/dist/*.whl && deactivate
      - name: Test Python packages
        env:
          SUBPROJECTS: ${{ inputs.subproject }}
          OVERWRITE_OUTPUT_FILES: ${{ inputs.overwrite_output_files }}
          NUM_BLOCKS: 12
          BLOCK_INDEX: ${{ matrix.block }}
        run: ./build tests_python --no-dependencies
      - name: Push changes in output files
        if: ${{ inputs.overwrite_output_files == true }}
        env:
          BRANCH_NAME: ${{ github.head_ref }}-${{ github.event.number }}
        run: |
          git stash
          git fetch
          (git switch $BRANCH_NAME && git pull) || git switch -c $BRANCH_NAME
          git stash apply || (git checkout --theirs . && git add .)
          git stash drop || true
          git add python/tests/res/out/**/*
          git diff --cached --quiet || git commit -m "Adjust expected output of integration tests."
          git push -u origin HEAD
      - name: Upload Python test results as artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v5
        with:
          name: python-test-results-${{ inputs.subproject }}-${{ matrix.block }}
          path: python/tests/build/test-results/*.xml
          if-no-files-found: ignore
