---
name: Run wheel
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      subproject:
        required: true
        type: string
jobs:
  python_versions:
    name: Determine Python versions supported by ${{ inputs.subproject }} (${{ inputs.os }})
    runs-on: ${{ inputs.os }}
    outputs:
      python_versions: ${{ steps.python_versions.outputs.python_versions }}
    steps:
      - name: Enable support for long paths
        if: ${{ startsWith(inputs.os, 'windows-') }}
        run: git config --system core.longpaths true
      - name: Checkout
        uses: actions/checkout@v6
      - name: Determine Python version for workflow
        id: workflow_python_version
        run: echo "workflow_python_version=$(sed s/,//g python/.version-python)" >> $GITHUB_OUTPUT
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ steps.workflow_python_version.outputs.workflow_python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Determine supported Python versions
        uses: juliangruber/read-file-action@v1
        id: python_requires
        with:
          path: python/.version-python
      - name: Create virtual environment
        run: ./build venv
      - name: Determine built Python versions
        id: python_versions
        env:
          CIBW_PACKAGE_DIR: python/subprojects/${{ inputs.subproject }}
          CIBW_ARCHS: auto64
          CIBW_PROJECT_REQUIRES_PYTHON: ${{ steps.python_requires.outputs.content }}
        run: echo "python_versions=$(./build print_cibuildwheel_python_versions)" >> $GITHUB_OUTPUT
  run_wheel:
    needs: python_versions
    name: Run wheel ${{ inputs.subproject }} (${{ inputs.os }})
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        python_version: ${{ fromJson(needs.python_versions.outputs.python_versions) }}
    steps:
      - name: Enable support for long paths
        if: ${{ startsWith(inputs.os, 'windows-') }}
        run: git config --system core.longpaths true
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Create virtual environment
        if: ${{ !startsWith(inputs.os, 'windows-') }}
        run: ./build install_runtime_dependencies
      - name: Create virtual environment
        if: ${{ startsWith(inputs.os, 'windows-') }}
        run: .\build.bat install_runtime_dependencies
      - name: Download wheels
        uses: actions/download-artifact@v7
        with:
          pattern: wheels-*
          path: wheelhouse
          merge-multiple: true
      - name: Install wheels
        if: ${{ !startsWith(inputs.os, 'windows-') }}
        env:
          PACKAGE_NAME: mlrl-${{ inputs.subproject == 'boosting' && 'boomer' || inputs.subproject }}
        run: |
          . .venv/bin/activate
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-util
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-testbed
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-testbed-arff
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-testbed-sklearn
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-common
          python -m pip install --find-links wheelhouse --no-index --no-deps $PACKAGE_NAME
      - name: Install wheels
        if: ${{ startsWith(inputs.os, 'windows-') }}
        env:
          PACKAGE_NAME: mlrl-${{ inputs.subproject == 'boosting' && 'boomer' || inputs.subproject }}
        run: |
          call .venv\Scripts\activate.bat
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-util
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-testbed
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-testbed-arff
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-testbed-sklearn
          python -m pip install --find-links wheelhouse --no-index --no-deps mlrl-common
          python -m pip install --find-links wheelhouse --no-index --no-deps $PACKAGE_NAME
      - name: Run wheel
        if: ${{ !startsWith(inputs.os, 'windows-') }}
        run: |
          . .venv/bin/activate
          mlrl-testbed mlrl.${{ inputs.subproject }} --version
      - name: Run wheel
        if: ${{ startsWith(inputs.os, 'windows-') }}
        run: |-
          call .venv\Scripts\activate.bat
          mlrl-testbed mlrl.${{ inputs.subproject }} --version
