---
name: Test Linux build
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      python_version:
        required: true
        type: string
      compile:
        required: false
        type: boolean
      run_cpp_tests:
        required: false
        type: boolean
      run_python_tests:
        required: false
        type: boolean
      multi_threading_support:
        required: false
        type: string
        default: enabled
      simd_support:
        required: false
        type: string
        default: enabled
      gpu_support:
        required: false
        type: string
        default: enabled
      ccache:
        required: false
        type: boolean
        default: true
env:
  SUBPROJECTS: ${{ inputs.subproject }}
  MULTI_THREADING_SUPPORT: ${{ inputs.multi_threading_support }}
  SIMD_SUPPORT: ${{ inputs.simd_support }}
  GPU_SUPPORT: ${{ inputs.gpu_support }}
jobs:
  linux_build:
    name: Test Linux build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        exclude:
          - os: ${{ inputs.compile == false && 'ubuntu-24.04-arm' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Install OpenCL
        if: ${{ inputs.gpu_support == 'enabled' }}
        run: sudo apt update && sudo apt install -y opencl-headers ocl-icd-opencl-dev
      - name: Install GoogleTest
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_cpp_tests == true }}
        run: sudo apt install -y googletest
      - name: Prepare ccache
        if: ${{ inputs.ccache }}
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ccache-${{ runner.os }}-${{ runner.arch }}-${{ inputs.subproject }}
      - name: Compile via GCC
        run: ./build compile
      - name: Test C++ code
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_cpp_tests == true }}
        run: ./build tests_cpp
      - name: Upload C++ test results as artifacts
        if: ${{ !cancelled() && matrix.os == 'ubuntu-24.04' && inputs.run_cpp_tests == true }}
        uses: actions/upload-artifact@v6
        with:
          name: cpp-test-results-${{ inputs.subproject }}
          path: cpp/build/meson-logs/testlog.junit.xml
          if-no-files-found: ignore
      - name: Build Python packages
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_python_tests == true }}
        env:
          REPAIR_WHEELS: true
        run: ./build build_wheels
      - name: Upload Python packages as artifacts
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_python_tests == true }}
        uses: actions/upload-artifact@v6
        with:
          name: python-packages-${{ inputs.subproject }}
          path: python/subprojects/**/dist/*.whl
          if-no-files-found: error
