---
name: Publish wheel packages
on:
  workflow_call:
    inputs:
      release:
        required: false
        type: boolean
      linux:
        required: false
        type: boolean
      macos:
        required: false
        type: boolean
      windows:
        required: false
        type: boolean
jobs:
  publish_pure:
    name: Publish pure wheels
    strategy:
      fail-fast: false
      matrix:
        subproject:
          - testbed
    uses: ./.github/workflows/template_publish_pure.yml
    with:
      subproject: ${{ matrix.subproject }}
      release: ${{ inputs.release }}
  publish_platform:
    name: Publish platform wheels
    strategy:
      fail-fast: false
      matrix:
        subproject:
          - common
          - boosting
          - seco
    uses: ./.github/workflows/template_publish_platform.yml
    with:
      subproject: ${{ matrix.subproject }}
      release: ${{ inputs.release }}
      linux: ${{ inputs.linux }}
      macos: ${{ inputs.macos }}
      windows: ${{ inputs.windows }}
    secrets: inherit
