---
name: Publish release on GitHub
on:
  workflow_call:
    inputs:
      release_branch:
        required: true
        type: string
jobs:
  release:
    name: Publish release on GitHub
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.release_branch }}
      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.token_app_id }}
          private-key: ${{ secrets.token_app_secret }}
      - name: Determine release version
        uses: juliangruber/read-file-action@v1
        id: release_version
        with:
          path: build_system/res/versioning/version
      - name: Create virtual environment
        run: ./build venv
      - name: Get changelog
        run: ./build print_latest_changelog >> changelog.txt
      - name: Publish release on GitHub
        uses: softprops/action-gh-release@v2
        with:
          target_commitish: ${{ inputs.release_branch }}
          name: Version ${{ steps.release_version.outputs.content }}
          tag_name: ${{ steps.release_version.outputs.content }}
          body_path: changelog.txt
          make_latest: true
          token: ${{ steps.app-token.outputs.token }}
