---
name: Publish Windows wheels
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      release:
        required: false
        type: boolean
env:
  SUBPROJECTS: ${{ inputs.subproject }}
  RELEASE: ${{ inputs.release == true }}
  TEST_SUPPORT: disabled
  GPU_SUPPORT: disabled
jobs:
  publish_windows_wheels:
    name: Publish ${{ inputs.subproject }} (Windows)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - windows-11-arm
    steps:
      - name: Determine architecture
        uses: ASzc/change-string-case-action@v6
        id: arch
        with:
          string: ${{ runner.arch }}
      - name: Enable support for long paths
        run: git config --system core.longpaths true
      - name: Checkout
        uses: actions/checkout@v6
      - name: Prepare MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ steps.arch.outputs.lowercase }}
      - name: Remove conflicting link.exe
        uses: JesseTG/rm@v1.0.3
        with:
          path: C:\Program Files\Git\usr\bin\link.EXE
      - name: Determine supported Python versions
        uses: juliangruber/read-file-action@v1
        id: python_version
        with:
          path: python/.version-python
      - name: Build package
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_BEFORE_BUILD: .\build.bat --clean && .\build.bat pyproject_toml
          CIBW_ARCHS: auto64
          CIBW_SKIP: cp???t-win*
          CIBW_PROJECT_REQUIRES_PYTHON: ${{ steps.python_version.outputs.content }}
        with:
          package-dir: python/subprojects/${{ inputs.subproject }}/
      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ inputs.subproject }}-${{ runner.os }}-${{ runner.arch }}
          path: wheelhouse/*.whl
          if-no-files-found: error
