---
name: Test Linux build
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      run_cpp_tests:
        required: false
        type: boolean
      run_python_tests:
        required: false
        type: boolean
env:
  SUBPROJECTS: ${{ inputs.subproject }}
jobs:
  linux_build:
    name: Test Linux build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: python/.version-python
      - name: Install OpenCL
        run: sudo apt update && sudo apt install -y opencl-headers ocl-icd-opencl-dev
      - name: Install GoogleTest
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_cpp_tests == true}}
        run: sudo apt install -y googletest
      - name: Prepare ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ runner.os }}-${{ runner.arch }}-test-build-ccache-${{ inputs.subproject }}
      - name: Compile via GCC
        run: ./build compile
      - name: Test C++ code
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_cpp_tests == true }}
        run: ./build tests_cpp
      - name: Upload C++ test results as artifacts
        if: ${{ !cancelled() && matrix.os == 'ubuntu-24.04' && inputs.run_cpp_tests == true }}
        uses: actions/upload-artifact@v4
        with:
          name: cpp-test-results-${{ inputs.subproject }}
          path: cpp/build/meson-logs/testlog.junit.xml
          if-no-files-found: ignore
      - name: Test Python code
        if: ${{ matrix.os == 'ubuntu-24.04' && inputs.run_python_tests == true }}
        run: ./build tests_python
      - name: Upload Python test results as artifacts
        if: ${{ !cancelled() && matrix.os == 'ubuntu-24.04' && inputs.run_python_tests == true }}
        uses: actions/upload-artifact@v4
        with:
          name: python-test-results-${{ inputs.subproject }}
          path: python/tests/build/test-results/*.xml
          if-no-files-found: ignore
