---
name: Trigger readthedocs build
on:
  workflow_call:
    inputs:
      release:
        required: false
        type: boolean
env:
  RELEASE: ${{ inputs.release }}
jobs:
  readthedocs_build:
    name: Trigger readthedocs build
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Trigger readthedocs build
        env:
          RDT_TOKEN: ${{ secrets.RTD_TOKEN }}
        run: ./build trigger_readthedocs_build
