---
name: Test MacOS build
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      python_version:
        required: true
        type: string
      multi_threading_support:
        required: false
        type: string
        default: enabled
      simd_support:
        required: false
        type: string
        default: enabled
      gpu_support:
        required: false
        type: string
        default: enabled
      ccache:
        required: false
        type: boolean
        default: true
env:
  SUBPROJECTS: ${{ inputs.subproject }}
  MULTI_THREADING_SUPPORT: ${{ inputs.multi_threading_support }}
  SIMD_SUPPORT: ${{ inputs.simd_support }}
  GPU_SUPPORT: ${{ inputs.gpu_support }}
jobs:
  macos_build:
    name: Test MacOS build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-26
          - macos-26-intel
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Determine supported Python versions
        id: python_version
        run: echo "python_version=$(sed s/,//g python/.version-python)" >> $GITHUB_OUTPUT
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Install OpenMP
        if: ${{ inputs.multi_threading_support }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./build dependency_libomp
      - name: Install OpenCL
        if: ${{ inputs.gpu_support }}
        run: brew install opencl-clhpp-headers
      - name: Prepare ccache
        if: ${{ inputs.ccache }}
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ccache-${{ runner.os }}-${{ runner.arch }}-${{ inputs.subproject }}
      - name: Compile via Clang
        if: ${{ matrix.os == 'macos-26' }}
        env:
          CPLUS_INCLUDE_PATH: /Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/include/:/opt/homebrew/opt/opencl-clhpp-headers/include/
          LIBRARY_PATH: /Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/lib/
        run: ./build compile
      - name: Compile via Clang
        if: ${{ matrix.os == 'macos-26-intel' }}
        env:
          CPLUS_INCLUDE_PATH: /Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/include/:/usr/local/opt/opencl-clhpp-headers/include/
          LIBRARY_PATH: /Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/lib/
        run: ./build compile
