---
name: Publish platform wheels
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      release:
        required: false
        type: boolean
      linux:
        required: false
        type: boolean
      macos:
        required: false
        type: boolean
      windows:
        required: false
        type: boolean
jobs:
  workflow_python_version:
    name: Determine Python version for workflow
    runs-on: ubuntu-slim
    outputs:
      workflow_python_version: ${{ steps.workflow_python_version.outputs.workflow_python_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Determine supported Python versions
        id: workflow_python_version
        run: echo "workflow_python_version=$(sed s/,//g python/.version-python)" >> $GITHUB_OUTPUT
  publish_linux_wheels:
    needs: workflow_python_version
    if: ${{ inputs.linux == true }}
    name: Publish ${{ inputs.subproject }} (Linux)
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    uses: ./.github/workflows/template_publish_platform_linux.yml
    with:
      subproject: ${{ inputs.subproject }}
      os: ${{ matrix.os }}
      workflow_python_version: ${{ needs.workflow_python_version.outputs.workflow_python_version }}
      release: ${{ inputs.release }}
  publish_macos_wheels:
    needs: workflow_python_version
    if: ${{ inputs.macos == true }}
    name: Publish ${{ inputs.subproject }} (macOS)
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-26
          - macos-15-intel
    uses: ./.github/workflows/template_publish_platform_macos.yml
    with:
      subproject: ${{ inputs.subproject }}
      os: ${{ matrix.os }}
      workflow_python_version: ${{ needs.workflow_python_version.outputs.workflow_python_version }}
      release: ${{ inputs.release }}
    secrets: inherit
  publish_windows_wheels:
    needs: workflow_python_version
    if: ${{ inputs.windows == true }}
    name: Publish ${{ inputs.subproject }} (Windows)
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - windows-11-arm
    uses: ./.github/workflows/template_publish_platform_windows.yml
    with:
      subproject: ${{ inputs.subproject }}
      os: ${{ matrix.os }}
      workflow_python_version: ${{ needs.workflow_python_version.outputs.workflow_python_version }}
      release: ${{ inputs.release }}
