---
name: Test Windows build
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      python_version:
        required: true
        type: string
      multi_threading_support:
        required: false
        type: string
        default: enabled
      gpu_support:
        required: false
        type: string
        default: enabled
      ccache:
        required: false
        type: boolean
        default: true
env:
  SUBPROJECTS: ${{ inputs.subproject }}
  MULTI_THREADING_SUPPORT: ${{ inputs.multi_threading_support }}
  GPU_SUPPORT: ${{ inputs.gpu_support }}
jobs:
  windows_build:
    name: Test Windows build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - windows-11-arm
    steps:
      - name: Determine architecture
        uses: ASzc/change-string-case-action@v6
        id: arch
        with:
          string: ${{ runner.arch }}
      - name: Enable support for long paths
        run: git config --system core.longpaths true
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Prepare MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ steps.arch.outputs.lowercase }}
      - name: Install OpenCL
        if: ${{ inputs.gpu_support }}
        uses: johnwason/vcpkg-action@v7
        with:
          pkgs: opencl
          triplet: ${{ steps.arch.outputs.lowercase }}-windows
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare ccache
        if: ${{ inputs.ccache }}
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ccache-${{ runner.os }}-${{ runner.arch }}-${{ inputs.subproject }}
      - name: Compile via MSVC
        run: |-
          $env:INCLUDE += ";$($pwd.Path)\vcpkg\packages\opencl_${{ steps.arch.outputs.lowercase }}-windows\include"
          $env:LIB += ";$($pwd.Path)\vcpkg\packages\opencl_${{ steps.arch.outputs.lowercase }}-windows\lib"
          ./build.bat compile
