---
name: Publish wheel packages
on:
  workflow_call:
    inputs:
      release:
        required: false
        type: boolean
      linux:
        required: false
        type: boolean
      macos:
        required: false
        type: boolean
      windows:
        required: false
        type: boolean
jobs:
  publish_pure:
    name: Publish pure wheels
    strategy:
      fail-fast: false
      matrix:
        subproject:
          - util
          - testbed
          - testbed-arff
          - testbed-sklearn
          - testbed-slurm
    uses: ./.github/workflows/template_publish_pure.yml
    with:
      subproject: ${{ matrix.subproject }}
      release: ${{ inputs.release }}
  publish_platform:
    name: Publish platform wheels
    strategy:
      fail-fast: false
      matrix:
        subproject:
          - common
          - boosting
          - seco
    uses: ./.github/workflows/template_publish_platform.yml
    with:
      subproject: ${{ matrix.subproject }}
      release: ${{ inputs.release }}
      linux: ${{ inputs.linux }}
      macos: ${{ inputs.macos }}
      windows: ${{ inputs.windows }}
    secrets: inherit
  run_wheels:
    needs:
      - publish_pure
      - publish_platform
    if: ${{ inputs.release == false }}
    name: Run wheels
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-26
          - macos-15-intel
          - windows-2025
          - windows-11-arm
        subproject:
          - boosting
          - seco
    uses: ./.github/workflows/template_run_wheel.yml
    with:
      os: ${{ matrix.os }}
      subproject: ${{ matrix.subproject }}
