---
name: Publish platform wheels
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      release:
        required: false
        type: boolean
      linux:
        required: false
        type: boolean
      macos:
        required: false
        type: boolean
      windows:
        required: false
        type: boolean
jobs:
  python_version:
    name: Determine supported Python versions
    runs-on: ubuntu-24.04
    outputs:
      python_version: ${{ steps.python_version.outputs.python_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Determine supported Python versions
        id: python_version
        run: echo "python_version=$(sed s/,//g python/.version-python)" >> $GITHUB_OUTPUT
  publish_linux_wheels:
    needs: python_version
    if: ${{ inputs.linux == true }}
    name: Publish ${{ inputs.subproject }} (Linux)
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    uses: ./.github/workflows/template_publish_platform_linux.yml
    with:
      subproject: ${{ inputs.subproject }}
      os: ${{ matrix.os }}
      python_version: ${{ needs.python_version.outputs.python_version }}
      release: ${{ inputs.release }}
  publish_macos_wheels:
    needs: python_version
    if: ${{ inputs.macos == true }}
    name: Publish ${{ inputs.subproject }} (macOS)
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-26
          - macos-15-intel
    uses: ./.github/workflows/template_publish_platform_macos.yml
    with:
      subproject: ${{ inputs.subproject }}
      os: ${{ matrix.os }}
      python_version: ${{ needs.python_version.outputs.python_version }}
      release: ${{ inputs.release }}
    secrets: inherit
  publish_windows_wheels:
    needs: python_version
    if: ${{ inputs.windows == true }}
    name: Publish ${{ inputs.subproject }} (Windows)
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2025
          - windows-11-arm
    uses: ./.github/workflows/template_publish_platform_windows.yml
    with:
      subproject: ${{ inputs.subproject }}
      os: ${{ matrix.os }}
      python_version: ${{ needs.python_version.outputs.python_version }}
      release: ${{ inputs.release }}
