---
name: Publish macOS wheels
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
      os:
        required: true
        type: string
      python_version:
        required: true
        type: string
      release:
        required: false
        type: boolean
env:
  SUBPROJECTS: ${{ inputs.subproject }}
  RELEASE: ${{ inputs.release == true }}
  TEST_SUPPORT: disabled
  SIMD_SUPPORT: disabled
  GPU_SUPPORT: disabled
jobs:
  build_identifiers:
    name: Determine build identifiers for ${{ inputs.subproject }} (${{ inputs.os }})
    runs-on: ${{ inputs.os }}
    outputs:
      build_identifiers: ${{ steps.build_identifiers.outputs.build_identifiers }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Determine supported Python versions
        uses: juliangruber/read-file-action@v1
        id: python_version
        with:
          path: python/.version-python
      - name: Create virtual environment
        run: ./build venv
      - name: Determine build identifiers
        id: build_identifiers
        env:
          CIBW_PACKAGE_DIR: python/subprojects/${{ inputs.subproject }}
          CIBW_ARCHS: auto64
          CIBW_PROJECT_REQUIRES_PYTHON: ${{ steps.python_version.outputs.content }}
        run: echo "build_identifiers=$(./build print_cibuildwheel_identifiers)" >> $GITHUB_OUTPUT
  publish_macos_wheels:
    needs: build_identifiers
    name: Publish ${{ inputs.subproject }} (${{ matrix.build_identifier }})
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        build_identifier: ${{ fromJson(needs.build_identifiers.outputs.build_identifiers) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build package
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_BUILD: ${{ matrix.build_identifier }}
          CIBW_BEFORE_ALL: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} ./build dependency_libomp
          CIBW_BEFORE_BUILD: CPLUS_INCLUDE_PATH=/Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/include/ LIBRARY_PATH=/Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/lib/
            ./build pyproject_toml
          CIBW_REPAIR_WHEEL_COMMAND: DYLD_LIBRARY_PATH=/Users/runner/work/MLRL-Boomer/MLRL-Boomer/libomp/lib/ delocate-wheel  --require-archs
            {delocate_archs} -w {dest_dir} -v {wheel}
        with:
          package-dir: python/subprojects/${{ inputs.subproject }}/
      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@v7
        with:
          name: wheels-${{ inputs.subproject }}-${{ matrix.build_identifier }}
          path: wheelhouse/*.whl
          if-no-files-found: error
