---
name: Test publishing packages
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-24.04
    outputs:
      linux: ${{ steps.filter.outputs.linux }}
      macos: ${{ steps.filter.outputs.macos }}
      windows: ${{ steps.filter.outputs.windows }}
      build_files: ${{ steps.filter.outputs.build_files }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            build_files: &build_files
              - '.github/workflows/test_publish.yml'
              - '.github/workflows/template_publish.yml'
              - '.github/workflows/template_publish_platform.yml'
              - '.github/workflows/template_publish_pure.yml'
              - 'build'
              - 'build.bat'
              - 'build_system/main.py'
              - 'build_system/core/**'
              - 'build_system/util/**'
              - 'build_system/targets/*.py'
              - 'build_system/targets/packaging/*'
            linux:
              - *build_files
              - '.github/workflows/template_publish_platform_linux.yml'
            macos:
              - *build_files
              - '.github/workflows/template_publish_platform_macos.yml'
              - 'build_system/targets/dependencies/*'
              - 'build_system/targets/dependencies/macos/*'
            windows:
              - *build_files
              - '.github/workflows/template_publish_platform_windows.yml'
  test_release:
    needs: changes
    if: ${{ needs.changes.outputs.build_files == 'true' }}
    name: Test publishing wheel packages
    uses: ./.github/workflows/template_publish.yml
    with:
      linux: ${{ needs.changes.outputs.linux == 'true' }}
      macos: ${{ needs.changes.outputs.macos == 'true' }}
      windows: ${{ needs.changes.outputs.windows == 'true' }}
  check_success:
    needs: test_release
    if: ${{ always() && needs.changes.outputs.build_files == 'true' }}
    name: Test publishing packages succeeded
    runs-on: ubuntu-24.04
    steps:
      - name: Check for success
        run: |-
          if [[ "${{ needs.test_release.result }}" != "success" ]]; then
            exit 1
          fi
