---
name: Check code style
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  test_format:
    name: Check code style
    runs-on: ubuntu-latest
    steps:
      - name: Look up Git repository in cache
        uses: actions/cache/restore@v4
        with:
          path: .git/
          key: test-format-cache-git-${{ github.run_id }}
          restore-keys: |
            test-format-cache-git
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '>=3.9'
      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            build_files: &build_files
              - '.github/workflows/test_format.yml'
              - 'build'
              - 'build.bat'
              - 'scons/**'
            cpp:
              - *build_files
              - '**/*.hpp'
              - '**/*.cpp'
              - '.clang-format'
            python:
              - *build_files
              - '**/*.py'
              - '.isort.cfg'
              - '.pylintrc'
              - '.style.yapf'
            md:
              - *build_files
              - '**/*.md'
            yaml:
              - *build_files
              - '**/*.y*ml'
      - name: Check C++ code style
        if: steps.filter.outputs.cpp == 'true'
        run: ./build test_format_cpp
      - name: Check Python code style
        if: steps.filter.outputs.python == 'true'
        run: ./build test_format_python
      - name: Check Markdown code style
        if: steps.filter.outputs.md == 'true'
        run: ./build test_format_md
      - name: Check YAML code style
        if: steps.filter.outputs.yaml == 'true'
        run: ./build test_format_yaml
      - name: Save Git repository to cache
        uses: actions/cache/save@v4
        if: success() || failure()
        with:
          path: .git/
          key: test-format-cache-git-${{ github.run_id }}
