---
name: Test building documentation
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-24.04
    outputs:
      cpp: ${{ steps.filter.outputs.cpp }}
      python: ${{ steps.filter.outputs.python }}
      doc: ${{ steps.filter.outputs.doc }}
      doc_links: ${{ steps.filter.outputs.doc_links }}
      doc_spelling: ${{ steps.filter.outputs.doc_spelling }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            build_files: &build_files
              - '.github/workflows/test_doc.yml'
              - '.github/workflows/template_doc.yml'
              - 'build'
              - 'build.bat'
              - 'build_system/main.py'
              - 'build_system/core/**'
              - 'build_system/util/**'
              - 'build_system/targets/*.py'
            cpp: &cpp
              - *build_files
              - 'build_system/targets/documentation/cpp/*'
              - 'cpp/**/include/**'
            python: &python
              - *build_files
              - 'build_system/targets/documentation/python/*'
              - 'python/subprojects/**/mlrl/**'
            doc: &doc
              - *build_files
              - 'build_system/targets/documentation/*'
              - 'doc/conf.py'
              - 'doc/index.md'
              - 'doc/**/*'
            doc_links:
              - *doc
              - *cpp
              - *python
            doc_spelling:
              - *doc
              - *cpp
              - *python
              - 'doc/spelling_wordlist.txt'
  build_doc:
    needs: changes
    name: Test building documentation
    uses: ./.github/workflows/template_doc.yml
    with:
      apidoc_cpp: ${{ needs.changes.outputs.cpp == 'true' }}
      apidoc_python: ${{ needs.changes.outputs.python == 'true' }}
      doc: ${{ needs.changes.outputs.doc == 'true' }}
    secrets: inherit
  check_links:
    needs: changes
    name: Check links in documentation
    uses: ./.github/workflows/template_doc.yml
    with:
      doc: ${{ needs.changes.outputs.doc_links == 'true' }}
      sphinx_builder: linkcheck
    secrets: inherit
  check_spelling:
    needs: changes
    name: Check for spelling mistakes in documentation
    uses: ./.github/workflows/template_doc.yml
    with:
      doc: ${{ needs.changes.outputs.doc_spelling == 'true' }}
      sphinx_builder: spelling
    secrets: inherit
  check_success:
    needs:
      - build_doc
      - check_links
      - check_spelling
    if: ${{ always() && !cancelled() }}
    name: Test building documentation succeeded
    runs-on: ubuntu-24.04
    steps:
      - name: Check for success
        run: |-
          if [[ "${{ needs.build_doc.result }}" == "failure" ]]; then
            exit 1
          fi
          if [[ "${{ needs.check_links.result }}" == "failure" ]]; then
            exit 1
          fi
          if [[ "${{ needs.check_spelling.result }}" == "failure" ]]; then
            exit 1
          fi
