---
name: Update Doxyfile
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - .github/workflows/update_doxyfile.yml
      - build
      - build.bat
      - build_system/main.py
      - build_system/core/**
      - build_system/util/**
      - build_system/targets/paths.py
      - build_system/targets/documentation/*
      - build_system/targets/documentation/cpp/*
  schedule:
    - cron: 0 5 2 * *
  workflow_dispatch:
jobs:
  update_doxyfile:
    name: Update Doxyfile
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: bugfix
      - name: Determine supported Python versions
        id: python_version
        run: echo "python_version=$(sed s/,//g python/.version-python)" >> $GITHUB_OUTPUT
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ steps.python_version.outputs.python_version }}
          check-latest: true
          cache: pip
          cache-dependency-path: '**/requirements.txt'
      - name: Setup git
        uses: fregante/setup-git-user@v2
      - name: Generate token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.TOKEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_APP_SECRET }}
      - name: Install Doxygen
        uses: ssciwr/doxygen-install@v1
      - name: Update Doxyfile
        run: |
          ./build update_doxyfile
          git add build_system/targets/documentation/cpp/Doxyfile
      - name: Submit pull request
        id: pull-request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: Update Doxyfile.
          branch: update-doxyfile
          title: Update Doxyfile
          labels: bot
          assignees: mrapp-ke
          body: Update the Doxygen configuration file.
      - name: Enable auto-merge
        if: ${{ steps.pull-request.outputs.pull-request-operation == 'created' }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: gh pr merge --merge --auto "${{ steps.pull-request.outputs.pull-request-number }}"
